.aman{
     text-align: center;
     padding-top: 16%;
     background-color: rgb(78, 219, 230);
}
.data{
     color: brown;
}
.data1{
     color: rgb(0, 0, 0);
     text-shadow: 2px 2px 3px white;
}
.button1{
     border-radius: 10%;
     background-color: red;
}
.button2{
     border-radius: 10%;
     background-color: red;
}